body {
    font-family: arial, sans-serif;
    color: #202124;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.75);
}

a:visited {
    color: #609;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.top-menu .material-icons {
    opacity: .55;
}

.top-menu .material-icons:hover {
    opacity: 1;
}

.top-menu ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    align-items: center;
}

.top-menu #left-menu li {
    padding-left: 15px;
}

.top-menu #right-menu li {
    padding-right: 15px;
}

.top-menu li {
    display: inline-flex;
    font-size: 13px;
}


.top-menu li:hover {
    text-decoration: underline;
}

#user-icon {
    border-radius: 50%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center p {
    font-size: small;
}

.center img {
    width: 272px;
    height: 92px;
    margin-bottom: 25px;
}

.search-form {
    min-width: 400px;
    max-width: 484px;
    width: 100%;
}

.search-bar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    padding: 10px;
    margin: 0 auto;
}

.search-bar input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0 8px 0 16px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    font-size: 16px;
}

.search-bar .material-icons {
    color: #9aa0a6;
}

.search-buttons {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.search-buttons input[type="submit"] {
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.footer-links {
    display: flex;
    font-size: 14px;
}

.footer-links a {
    color: rgba(0,0,0,.54);
}

footer p {
    margin-left: 40px;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links li {
    display: inline-flex;
}

footer {
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
}